*{
    margin: 0;
    padding: 0;
    
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    width: 50vw;
    height: 50vh;
    background-color: rgb(209, 204, 204);
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}